version: '3.8'

services:
  # ----------------------------
  # Databases
  # ----------------------------
  
  # MongoDB - General purpose (Auth, User, Event, Booking, Approval, Notif)
  mongo:
    image: mongo:6.0
    container_name: eventify_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - eventify_net

  # PostgreSQL - Payment Service
  postgres:
    image: postgres:15-alpine
    container_name: eventify_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: payment_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - eventify_net

  # Redis - QR Service & Caching
  redis:
    image: redis:7-alpine
    container_name: eventify_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - eventify_net

networks:
  eventify_net:
    driver: bridge

volumes:
  mongo_data:
  postgres_data:
  redis_data:
